
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>계산기</title>
</head>
<body>
<form method="post">
    <label>
        <input autofocus name="a" type="number" th:value="${a == null ? 0 : a}">
    </label>
    <label>
        <select name="op">
            <option value="plus" th:selected="${opSc == null || opSc.equals('plus')}">+</option>
            <option value="minus" th:selected="${opSc != null && opSc.equals('minus')}">-</option>
            <option value="multiply" th:selected="${opSc != null && opSc.equals('multiply')}">*</option>
            <option value="divide" th:selected="${opSc != null && opSc.equals('divide')}">/</option>
            <option value="modulo" th:selected="${opSc != null && opSc.equals('modulo')}">%</option>
            <option value="power" th:selected="${opSc != null && op.equals('power')}">**</option>
        </select>
    </label>
    <label>
        <input autofocus name="b" type="number" th:value="${b == null ? 0 : b}">
    </label>
    <button type="submit">계산하기</button>
</form>
<div th:if="${result == null}"><b>계산하기</b> 버튼을 클릭해 주세요.</div>
<div th:if="${error == null && result != null}">
    <span th:text="${a}"></span>
    <span th:text="${opSc}"></span>
    <span th:text="${b}"></span>
    =
    <b th:text="${result}"></b>
</div>
<div th:if="${error != null}" th:text="${error}"></div>
</body>
</html>